# MySQL setup
mysql_root_user: root
mysql_root_password:

# MySQL Kolide
mysql_grr_dbname: grr
mysql_grr_user:
mysql_grr_pass:

# Set to % for all hosts
mysql_grr_hosts: 127.0.0.1

# Google Grr admin stuff
grr_password:
grr_email_domain: '{{ base_domain }}'
grr_email_alert: 'grr-monitoring@{{ base_domain }}'
grr_email_emerg: 'grr-emergency@{{ base_domain }}'
