################# Graylog #################
graylog_hostname: 'graylog'
graylog_repo_url: 'https://packages.graylog2.org/repo/packages/graylog-3.0-repository_latest.deb'
graylog_admin_password: 'Changeme'

### logging inputs ###
graylog_beats_logging: True
graylog_beats_port: 5044

graylog_syslog_tcp_logging: True
graylog_syslog_tcp_port: 1514

graylog_syslog_udp_logging: True
graylog_syslog_udp_port: 1515

################# Mongo #################
mongo_key: '9DA31620334BD75D9DCB49F368818C72E52529D4'
mongo_repo_url: 'deb [ arch=amd64 ] https://repo.mongodb.org/apt/ubuntu bionic/mongodb-org/4.0 multiverse'

################# Elasticsearch #################
es_key: 'https://artifacts.elastic.co/GPG-KEY-elasticsearch'
es_repo_url: 'deb https://artifacts.elastic.co/packages/oss-6.x/apt stable main'
es_cluster_name: 'graylog'
es_action.auto_create_index: 'false'
