################# Filebeat #################
filebeat_key: 'https://artifacts.elastic.co/GPG-KEY-elasticsearch'
fileatbeat_repo_url: 'deb https://artifacts.elastic.co/packages/6.x/apt stable main'

################# Rsyslog #################
rsyslog_ppa: 'ppa:adiscon/v8-stable '

################# BRO #################
zeek_log_dir: '/opt/bro/logs'
nginx_log_dir: '/var/log/nginx'
