##################################################################################################################
# General
##################################################################################################################
general:
  logging_domain: 'hackinglab.local'
  vault_addr: 'https://vault.hackinglab.local'
  client_cert_file_path: ''
  client_key_file_path: ''
  ca_cert_file_path: ''

##################################################################################################################
# Logging PKI
##################################################################################################################
pki_int_dict:
  loging_int:
    vault_mount_path: "logging_pki_int"
    vault_sign_path: "pki"
    vault_role: "logging-{{ logging_domain.replace('.', '-') }}"
    output_dir_path: "conf/tls/loggint_int"
    ttl: "61320h"
    common_name: "logging.{{ logging_domain }} Intermediate Authority"
    allowed_domains: "servers.logging.{{ logging_domain }},clients.logging.{{ logging_domain }}"
    allow_subdomains: False
  server_logging_int:
    vault_mount_path: "server_logging_pki_int"
    vault_sign_path: "logging_pki_int"
    vault_role: "logging-servers"
    output_dir_path: "conf/tls/server_logging_int"
    ttl: "43800h"
    common_name: "servers.logging.{{ logging_domain }} Intermediate Authority"
    allowed_domains: "servers.logging.{{ logging_domain }}"
    allow_subdomains: True
  client_logging_int:
    vault_mount_path: "client_logging_pki_int"
    vault_sign_path: "logging_pki_int"
    vault_role: "logging-clients"
    output_dir_path: "conf/tls/client_logging_int"
    ttl: "43800h"
    common_name: "clients.logging.{{ logging_domain }} Intermediate Authority"
    allowed_domains: "clients.logging.{{ logging_domain }}"
    allow_subdomains: True

##################################################################################################################
# Leaf certs
##################################################################################################################
cert_leaf_dict:
  servers:
    vault_mount_path: "server_logging_pki_int"
    vault_role: "logging-servers"
    output_dir_path: "conf/tls"
    ttl: "26280h"
    common_name: "{{ server_leaf_cert_hostname }}.servers.logging.{{ logging_domain }}"
    private_key_format: "pkcs8"
  clients:
    vault_mount_path: "client_logging_pki_int"
    vault_role: "logging-clients"
    output_dir_path: "conf/tls"
    ttl: "26280h"
    common_name: "{{ client_leaf_cert_hostname }}.clients.logging.{{ logging_domain }}"
    private_key_format: "pkcs8"
