###################################################### Boundary ######################################################
hostname: 'boundary'

boundary_user: 'boundary'
boundary_group: 'boundary'

disable_mlock: 'false'
tls_disable: 'false'

boundary_version: '0.2.0'
boundary_gpg_key: 'https://apt.releases.hashicorp.com/gpg'
boundary_repo: 'deb [arch=amd64] https://apt.releases.hashicorp.com focal main'

#### Postgres ####
postgres_dbname: 'boundary'
postgres_username: 'boundary'
postgres_password: 'Changeme123!'

postgres_gpg_key_url: 'https://www.postgresql.org/media/keys/ACCC4CF8.asc'
postgres_repo: 'deb http://apt.postgresql.org/pub/repos/apt focal-pgdg main'

#### Vault ####
vault_addr: 'https://vault.{{ base_domain }}:443'

vault_kms_mount_path: 'transit/'

vault_kms_root_token: ''
vault_kms_worker_token: ''
vault_kms_recovery_token: ''
