################################# Rsyslog server #################################
rsyslog_host: ''
rsyslog_port:


rsyslog_input_module: 'imrelp'
rsyslog_output_module: 'omrelp'
rsyslog_tls: 'on'

######################### OSquery settings #########################
osquery_logger_path: '/var/log/osquery'
osquery_pidfile: '/var/osquery/osquery.pidfile'
osquery_database_path: '/var/osquery/osquery.db'
osquery_packs: '/usr/share/osquery/packs'
