class Config:
    DEBUG = False
    abuse_blacklist_url = 'https://ransomwaretracker.abuse.ch/downloads/RW_IPBL.txt'

class DockerKafkaConfig:
    DEBUG = True

    abuse_blacklist_url = ''

    kafka_hostname = 'kafka'
    kafka_port = '9092'
    kafka_zeek_topic = 'zeek'
    kafka_zeek_enrich_topic ='zeek-enrich'

class RemoteKafkaConfig:
    DEBUG = False

    abuse_blacklist_url = ''

    kafka_hostname = ''
    kafka_port = ''
    kafka_zeek_topic = ''
    kafka_zeek_enrich_topic =''
