base_domain:
caldera_hostname: caldera
timezone: America/New_York

caldera_dir: /opt/caldera
caldera_user: admin
caldera_pass:

# Cert generation
cert_country:
cert_state:
cert_local:
cert_org: 
cert_name: caldera
